{% extends 'base.html.twig' %}

{% block body %}
    <h1>Phone creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('person_index') }}">Back to the person list</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('phone_index') }}">Back to the list</a>
        </li>
        {% endif %}
    </ul>
{% endblock %}
